@import url("styles.less");


.html {
    overflow-x:hidden!important;
}

.about {
    overflow-x:hidden!important;
    

    .proto-col, .prototype {
        padding:0px!important;



        img {
           
            background-size:cover;
            background-position:center;
        }
    }

    .about-text {
        justify-content:center!important;
        text-align:center!important;
    }

    .test-col {
        width:50%!important;
        padding:0;
    }


    h1 {
        text-align:center!important;
    }

    .banner-content {
        max-height:200px!important;
    }

    .slider-container {
        display:flex;
        flex-direction:column;
        justify-content:center!important;
        padding-top:4%!important;
        padding-bottom:4%;
        background-color:@primary-color;
        overflow:hidden!important;
        max-height:350px!important;


        h2, h3, p {
            text-align:center;
            color:white;
            
        }

        h3 {
            color:@tertiary-color;
            font-size:18px!important;
            font-weight:600;

        }

        p {
            font-style:italic!important;
            
        }

    }

    



    #carouselExampleControls {
        .carousel-inner{
            overflow:hidden!important;
            justify-content:center!important
        }
 
        .carousel-item {
            display:flex;
            justify-content:center!important;
            align-items:center;
            text-align:center;

            .testimonial {
                width:50%!important;
                display:flex!important;
                flex-direction:column;
            }
            
            .text-wrapper {
                width:50%!important;
            }

            p {
                font-size:18px;
                color:white;
            }
    }

}



   .fcta {
    padding-top:0;
    padding-bottom:0;


    img {
        background-size:cover;
        background-position:center;
        max-height:fit-content!important;

        ::after {
            background-color:black;
        }
        
    }

    .fcta-text {
        padding-top:10%;
    }

    color:@p-color;
    background-color:@secondary-color-tint;
    
   }

    }




.start-page {
    .container-fluid {
        overflow-x:hidden!important;

    }


    .first-block {
        padding-top:3%;
        padding-bottom:3%;
        

    }

    .banner-content {
        max-height:200px!important;
    }

    .cards {
        text-align:center;
    }

    .card {
        width:0;
        border:0;
        text-align:center!important;
    }


    .fcta {
        .col-lg-6 {
            text-align:left!important;
        }
    }


}


.test-page {
    overflow-x:hidden!important;

    .test-banner {
        display:flex;
        background-color:@secondary-color;
        height:200px;
        justify-content:center;
        align-items: center;
        flex-direction:column;
        margin-bottom:35px;

    }
    #testimonials-container {



        .bordered {
            height:200px;
            margin-bottom:35px;
            text-align:center!important;

            
            
    
    
            .color {
                height:100px!important;
                text-align:center;
                margin-bottom:5px;
            }
    
    
            .color2 {
                font-weight:700;
                font-style:italic;
                color:@primary-color;
                font-size:20px;
            }
        }
    
        .bordered .col-lg-1 {
            height:200px;
            align-content:center;
        }

        .bordered .col-lg-8 {
            display:flex;
            flex-direction:column;
            justify-content:center;
        }


        .bottom {
            border-bottom:1px solid rgba(211,211,211,.5);
        }
    
        
    }


    .fcta {

        border-top:2px solid @primary-color;
        .fcta-text {
            display:flex;
            flex-direction:column;
            justify-content: center;
        }
    }
}




.contact-page {
    background-color:@secondary-color-tint;

    .about-banner-content {
        height:200px;
        text-align:center;

        h2 {
            padding-top:5%;
        }
    }


    .form-block {
        margin-top:40px;
        padding-top:40px;
        background-color:white;
        box-shadow: 0px 4px 4px rgba(50,54,64,0.7);
        width:70%;
        padding-bottom:40px;
        margin-bottom:40px;
    }


 
   }
